@font-face {
  font-family: "Nove";
  src: local("Nove"), url("./src/assets/Nove.otf");
}

@font-face {
  font-family: "Tenor Sans";
  src: local("TenorSans"), url("./src/assets/TenorSans-Regular.ttf");
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.unselectable {
  -webkit-user-select: none;
  user-select: none;
}

#app {
  min-height: 100dvh;
  position: relative;
  background-color: white;
  overflow: hidden;
  background-image: radial-gradient(at top left, #80a2a2, transparent),
    radial-gradient(at top right, hsl(183, 38%, 20%), transparent),
    radial-gradient(at bottom left, #193334, transparent);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

nav {
  pointer-events: none;
}

.nav-logo-wrapper {
  height: 150px;
  width: fit-content;
  margin: 0 auto;
  pointer-events: none;
}

.nav-logo-wrapper img {
  height: 100%;
  pointer-events: none;
}

.header-image-wrapper {
  max-width: 300px;
}

.header-title {
  font-family: Tenor Sans;
  font-weight: 900;
}

.header-body {
  font-family: Tenor Sans;
  font-weight: 500;
}

.github-logo,
.linkedin-logo {
  width: 25px;
  fill: white;
}
