@font-face {
  font-family: "Sentient";
  src: local("Sentient"), url("./src/assets/Sentient-Variable.ttf");
}

@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue"), url("./src/assets/BebasNeue-Regular.ttf");
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  /* Bleu */
  --bleu-50: #f0f0ff;
  --bleu-100: #e5e4ff;
  --bleu-200: #cecdff;
  --bleu-300: #aba5ff;
  --bleu-400: #8272ff;
  --bleu-500: #5939ff;
  --bleu-600: #4612ff;
  --bleu-700: #3600ff;
  --bleu-800: #2d00d8;
  --bleu-900: #2802b6;
  --bleu-950: #120078;

  /* Orchid */
  --orchid-50: #faf5ff;
  --orchid-100: #f2e7ff;
  --orchid-200: #e7d3ff;
  --orchid-300: #d4b1ff;
  --orchid-400: #ba7fff;
  --orchid-500: #9840fe;
  --orchid-600: #892bf2;
  --orchid-700: #761ad6;
  --orchid-800: #651bae;
  --orchid-900: #53178c;
  --orchid-950: #360368;

  /* Jade */
  --jade-50: #f2fcf1;
  --jade-100: #defbdd;
  --jade-200: #bef4be;
  --jade-300: #7ce87d;
  --jade-400: #50d852;
  --jade-500: #29be2b;
  --jade-600: #1c9d1f;
  --jade-700: #1a7b1c;
  --jade-800: #19621b;
  --jade-900: #17501a;
  --jade-950: #072c09;

  /* Neutrals */
  --neutral-50: #f7f7fd; /* Very light gray with a hint of blue */
  --neutral-100: #eaeaf5; /* Light gray with a touch of blue */
  --neutral-200: #dad8e9; /* Soft lilac, works well with orchid */
  --neutral-300: #c2c1d9; /* Muted purple-toned gray */
  --neutral-400: #a6a5c0; /* Deeper lilac for balance with orchid */
  --neutral-500: #8b899b; /* Gray with a hint of purple */
  --neutral-600: #706f7f; /* Darker gray-purple, good for text */
  --neutral-700: #575560; /* Deep gray with blue undertones */
  --neutral-800: #403d48; /* Very dark gray with a touch of blue */
  --neutral-900: #282531; /* Almost black, subtle purple undertone */
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#app {
  min-height: 100dvh;
  padding: 0 4rem 3rem;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("./src/assets/bluepurplegreen.png");
}

/* Nav */

nav {
  pointer-events: none;
  display: flex;
}

.joseph-mudd-nav-title {
  font-family: Bebas Neue;
  color: var(--jade-300);
  font-size: clamp(6rem, 20vw, 15rem);
  letter-spacing: -0.05em;
  margin: 0 auto;
}

/* Header */

header {
}

.header-image {
  max-width: 40rem;
  height: auto;
  float: left;
}

.header-content-wrapper {
  border: 1px solid white;
}

.header-title {
  font-family: Bebas Neue;
  font-weight: 900;
  color: #fff;
  font-size: 3rem;
}

.header-body {
  font-family: Sentient;
  font-weight: 400;
  color: #fff;
}

.github-logo,
.linkedin-logo {
  width: 25px;
  fill: var(--bleu-300);
}
